@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  color: #080808;
}

body {
  font-family: "Rubik", sans-serif;
  color: #080808;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  font-weight: 600;
}

.header {
  padding-top: 10px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__content:after {
  content: "";
  max-width: 1140px;
  width: calc(100% - 30px);
  height: 2px;
  background-color: #dedede;
  display: block;
  position: absolute;
  bottom: -15px;
}
.header__menu {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__link {
  padding: 10px 10px;
  border-radius: 5px;
}
.header__link:hover {
  background-color: #a4f7c1;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__map-svg {
  width: 20px;
  height: 20px;
  fill: #545ce1;
}
.header__map-text {
  margin-left: 5px;
}
.header__tel {
  margin-left: 20px;
}
.header__tel-img {
  width: 24px;
  height: 24px;
  -webkit-transform: translate(0, 5px);
          transform: translate(0, 5px);
}
.header__tel-text {
  margin-left: 5px;
  font-size: 24px;
}
.header__tel a {
  color: #080808;
}
.header__tel a span {
  color: #545ce1;
}

.sub-header {
  -webkit-box-shadow: 0 4px 10px -10px rgba(40, 40, 40, 0.3);
          box-shadow: 0 4px 10px -10px rgba(40, 40, 40, 0.3);
}
.sub-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  padding-bottom: 20px;
}
.sub-header__logo {
  width: 150px;
  height: 50px;
}
.sub-header__form {
  position: relative;
  margin-right: 320px;
}
.sub-header__search {
  border: 2px solid #545ce1;
  border-radius: 5px;
  height: 40px;
  width: 400px;
  padding-left: 20px;
  font-size: 18px;
}
.sub-header__search:focus-visible {
  outline: none;
}
.sub-header__search:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(102, 175, 233, 0.6);
}
.sub-header__batton {
  width: 40px;
  height: 40px;
  background-color: #545ce1;
  border: none;
  position: absolute;
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.sub-header__batton:hover {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(102, 175, 233, 0.6);
  background-color: #66afe9;
}
.sub-header__svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}
.sub-header__cort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.sub-header__cort-img {
  width: 25px;
  height: 25px;
}
.sub-header__cort-text {
  font-size: 15px;
  margin-left: 5px;
}

.main {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #d3d5db;
}
.main__tittle {
  text-align: center;
  padding: 20px 0;
}
.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  max-width: 230px;
  margin-top: 80px;
}
.main__link {
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: underline;
  font-size: 14px;
}
.main__link:hover {
  background-color: #a4f7c1;
}
.main__goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main__goods h1 {
  font-weight: 700;
  width: 100%;
}
.main__category {
  width: 32%;
  max-width: 370px;
  height: 100%;
  max-height: 130px;
  background-color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-bottom: 30px;
  cursor: pointer;
  border: 1px solid #d3d5db;
}
.main__category:hover {
  opacity: 0.9;
  border: 1px solid #a4f7c1;
  -webkit-box-shadow: 0 0 5px #a4f7c1;
          box-shadow: 0 0 5px #a4f7c1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.main__category-text {
  width: 45%;
  font-size: 14px;
  margin-left: 5px;
  margin-top: 10px;
  font-weight: 500;
}
.main__category-text span {
  margin-top: 10px;
  background: #a4f7c1;
  border-radius: 5px;
}
.main__category-image {
  width: 55%;
}
.main__category-image img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}